@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.container {
    font-family: 'Nanum Myeongjo', serif;
    color: #cc43cc;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(https://media.giphy.com/media/2VUIE0b9l1Sdq/giphy.gif); 
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-size: x-small;
}

.boxTitle{
    font-size: large;
    margin: 20px 0px 0px 0px;
}

.boxSubTitle{
    font-size: small;
}

.boxContents{
    text-align: center;
    color: darkslateblue;
}

.boxText{
    font-size: small;
}


.phoneBtnMan{
    padding: 3px;
    margin: 3px;
    background-color: #0097a7;
    color: white;
    border: white;
    border-radius: 10px;
}

.phoneBtnWoman{
    padding: 3px;
    margin: 3px;
    background-color: #cc43cc;
    color: white;
    border: white;
    border-radius: 10px;
}


.destDate{
    font-size: xx-large;
    margin: 0%;
}

.mainImg {
    max-width: 100%;
    height: auto;
    display: block;
}

.bigBox{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffeed;
}

.smallBox{
    margin: 1.5rem;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffeed;
}

.sampleLine{
    border: solid .5px #ffd6ff;
}

.footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    margin-left: 0.5rem;
}
  
.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 1em;
}